/* 去除打开侧边栏 */
.sidebar-toggle-button.mod-left {
    display: none;
}

/* 自动隐藏工具栏 */
body {
  --workspace-ribbon-position: absolute;
  --workspace-ribbon-radius: var(--radius-m);
}
body .workspace-ribbon.side-dock-ribbon.mod-left {
  position: absolute;
  transform: translateX(calc(3px - 100%));
  transition: transform 300ms 150ms;
  bottom: 0px;
  left: 0px;
}
body .workspace-ribbon.side-dock-ribbon.mod-left::before {
  width: 100%;
  min-height: 100%;
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
}
body .workspace-ribbon.side-dock-ribbon.mod-left:hover {
  transform: none;
  transition: transform 300ms 150ms;
}
