/*荧光笔高亮 by: Lemonadio*/
/*写着写着就能用了,就不改代码了.*/
.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight,
:is(.markdown-preview-view,.markdown-rendered) mark {
  display: inline;
  box-sizing: border-box;
  background-color: inherit;
  background-image: linear-gradient(rgba(72,145,225,225),rgba(72,145,225,225));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 50%;
  border-radius: 7px;
  padding: 0 0.2em;
}
